/*!***********************************************************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js!../node_modules/sass-loader/dist/cjs.js!./scss/main.scss ***!
  \***********************************************************************************************************/
@charset "UTF-8";
@font-face {
  font-family: "TTLakesCondensed-Regular";
  src: url(../fonts/TTLakesCondensed-Regular.woff) format("woff");
  font-weight: 200;
  font-display: swap;
  font-style: normal; }

@font-face {
  font-family: "TTLakes";
  src: url(../fonts/TTLakes-Regular.woff) format("woff");
  font-weight: 200;
  font-display: swap;
  font-style: normal; }

@font-face {
  font-family: "TTLakesBlack";
  src: url(../fonts/TTLakes-Black.woff) format("woff");
  font-weight: 200;
  font-display: swap;
  font-style: normal; }

@font-face {
  font-family: "TTLakesBold";
  src: url(../fonts/TTLakes-Bold.woff) format("woff");
  font-weight: 200;
  font-display: swap;
  font-style: normal; }

@font-face {
  font-family: "TTLakesDemiBold";
  src: url(../fonts/TTLakes-DemiBold.woff) format("woff");
  font-weight: 200;
  font-display: swap;
  font-style: normal; }

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0; }

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none; }

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none; }

/* Цвет таблицы */
/* Цвет граней */
/* Цвет элементов заголовка */
* {
  box-sizing: border-box; }

body {
  font-family: TTLakes, sans-serif; }

a {
  text-decoration: none;
  color: inherit; }

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0; }

img {
  height: auto;
  max-width: 100%;
  object-fit: contain; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

.header {
  display: flex;
  padding: 16px;
  background-color: #fff;
  border-bottom: solid 1px #D9FFF5;
  justify-content: space-between; }
  @media (min-width: 1440px) {
    .header {
      padding: 0;
      grid-column: 1; } }
  .header__left {
    display: flex; }
  .header__right {
    display: flex; }
  .header__check {
    display: flex; }
    @media (min-width: 1440px) {
      .header__check {
        align-items: center;
        position: absolute;
        top: 35px;
        right: 38px; } }
    .header__check-description {
      display: none; }
      @media (min-width: 1440px) {
        .header__check-description {
          display: block; } }
  .header .repair-icon {
    background-image: url(../img/repair.svg);
    background-repeat: no-repeat;
    position: relative;
    z-index: 50; }
    .header .repair-icon::before {
      content: '';
      border-right: 2px solid #EAEAEA;
      border-radius: 5px;
      height: 32px;
      position: absolute;
      top: 5px;
      left: -22px; }
    @media (min-width: 1440px) {
      .header .repair-icon {
        margin-right: 32px; }
        .header .repair-icon::before {
          display: none; } }
  .header .checkstatus-icon {
    background-image: url(../img/checkstatus.svg);
    margin-right: 0;
    z-index: 50; }
    @media (min-width: 768px) {
      .header .checkstatus-icon {
        margin-right: 8px; } }

.burger__menu {
  position: absolute;
  left: -200%;
  top: 0;
  padding: 16px 16px 32px;
  background-color: #fff;
  text-decoration: none;
  list-style: none;
  box-shadow: 16px 0px 52px rgba(14, 24, 80, 0.2);
  transition: all 0.3s ease-in-out;
  z-index: 150; }
  @media (min-width: 1440px) {
    .burger__menu {
      position: static;
      top: 0;
      box-shadow: none;
      padding: 28px 24px 0px 24px; } }

.burger__menu-header {
  display: flex;
  justify-content: flex-end; }

.burger__icon {
  display: block;
  position: relative;
  margin-left: 0px;
  transition: all 0.3s ease-in-out;
  background-color: #FF3E79;
  z-index: 200; }
  .burger__icon::before {
    content: '';
    position: absolute;
    border-bottom: 2px solid #fff;
    top: 12px;
    left: 11px;
    width: 18px;
    transition: all 0.3s ease-in-out; }
  .burger__icon::after {
    content: '';
    position: absolute;
    border-bottom: 2px solid #fff;
    top: 19px;
    left: 11px;
    width: 10px;
    transition: all 0.3s ease-in-out; }
  .burger__icon .line::after {
    content: '';
    position: absolute;
    border-bottom: 2px solid #fff;
    bottom: 12px;
    left: 11px;
    width: 14px;
    transition: all 0.3s ease-in-out; }
  @media (min-width: 768px) {
    .burger__icon {
      margin-left: 8px;
      margin-right: 16px; } }
  @media (min-width: 1440px) {
    .burger__icon {
      display: none; } }

.burger__logo {
  margin-bottom: 25px;
  margin-left: 56px;
  margin-right: 86px;
  height: 56px; }
  @media (min-width: 1440px) {
    .burger__logo {
      margin: 0 108px 34px 0; } }

.burger__search {
  background-image: url(../img/search.svg);
  height: 40px;
  margin-right: 16px; }

@media (min-width: 768px) {
  .burger__nav {
    padding-bottom: 209px; } }

.burger__list-item {
  font-weight: 600;
  line-height: 24px;
  font-size: 16px;
  color: #1B1C21;
  margin-bottom: 24px;
  transition: all 0.3s ease-in-out;
  cursor: pointer; }
  .burger__list-item:hover {
    filter: brightness(150%); }
  .burger__list-item:active {
    filter: brightness(200%); }
  .burger__list-item::before {
    content: '';
    position: absolute;
    top: -5px;
    left: -20px;
    height: 32px;
    border-left: 5px solid #41F6D7;
    border-radius: 5px;
    transition: all 0.3s ease-in-out; }
  @media (min-width: 1440px) {
    .burger__list-item {
      line-height: 25px;
      letter-spacing: 0; }
      .burger__list-item::before {
        left: -25px; } }

.burger .active-item {
  position: relative;
  color: #7e7e82;
  transition: all 0.3s ease-in-out; }
  .burger .active-item::before {
    content: '';
    left: -17px;
    transition: all 0.3s ease-in-out; }
  @media (min-width: 1440px) {
    .burger .active-item::before {
      left: -25px; } }

.burger__footer {
  color: #1B1C21; }
  @media (min-width: 1440px) {
    .burger__footer {
      margin-left: -4px; } }

.burger__icon-active::before {
  transition: all 0.3s ease-in-out;
  top: 19px;
  left: 9px;
  width: 22px;
  transform: rotate(45deg); }

.burger__icon-active::after {
  transition: all 0.3s ease-in-out;
  width: 22px;
  left: 9px;
  transform: rotate(-45deg); }

.burger__icon-active .line::after {
  border-bottom: 2px solid #FF3E79; }

.burger-open {
  left: 0%;
  transition: all 0.3s ease-in-out; }

.email {
  margin-bottom: 16px;
  cursor: pointer; }
  @media (min-width: 1440px) {
    .email {
      margin-bottom: 16px; } }

.tel {
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.4px;
  font-weight: 600;
  margin-bottom: 10px; }
  @media (min-width: 1440px) {
    .tel {
      margin-bottom: 45px; } }

.language {
  letter-spacing: 1.5px; }

.lang {
  cursor: pointer; }

.burger__contacts {
  display: flex;
  margin-bottom: 10px; }
  .burger__contacts .contacts__call {
    background-image: url(../img/call.svg);
    margin-left: 0px; }
    @media (min-width: 1440px) {
      .burger__contacts .contacts__call {
        margin-left: -4px;
        margin-bottom: 12px; } }
  .burger__contacts .contacts__message {
    background-image: url(../img/chat.svg);
    height: 40px; }
  .burger__contacts .contacts__profile {
    background-image: url(../img/profile.svg);
    height: 40px; }

.contacts {
  position: relative;
  display: flex;
  padding-right: 24px; }
  @media (max-width: 767px) {
    .contacts {
      display: none; } }
  @media (min-width: 1440px) {
    .contacts {
      display: none; } }
  .contacts__call {
    background-image: url(../img/call.svg); }
  .contacts__message {
    background-image: url(../img/chat.svg); }
  .contacts__profile {
    background-image: url(../img/profile.svg); }

.logo-mobile {
  margin-left: 8px;
  margin-right: 31px; }
  @media (min-width: 768px) {
    .logo-mobile {
      position: relative;
      margin-left: 26px;
      margin-top: 4px; }
      .logo-mobile::before {
        content: '';
        border-right: 2px solid #EAEAEA;
        border-radius: 5px;
        height: 32px;
        position: absolute;
        top: 9px;
        left: -22px; } }
  @media (min-width: 1440px) {
    .logo-mobile {
      display: none; } }

.service {
  background-color: #F8F8F8; }
  .service__top {
    display: grid;
    grid-template-columns: 100%;
    grid-row-gap: 24px;
    padding: 0 16px; }
    @media (min-width: 768px) {
      .service__top {
        grid-row-gap: 32px;
        padding: 0 24px; } }
    @media (min-width: 1440px) {
      .service__top {
        padding-top: 42px;
        grid-row-gap: 8px;
        margin-bottom: -50px; } }
  .service__title {
    position: relative;
    font-family: TTLakesBold;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -0.6px; }
    .service__title::before {
      content: '';
      position: absolute;
      top: -1px;
      left: -15px;
      height: 39px;
      border-left: 3px solid #41F6D7;
      border-radius: 5px; }
    @media (min-width: 768px) {
      .service__title::before {
        content: '';
        position: absolute;
        top: -1px;
        left: -23px;
        height: 39px;
        border-left: 3px solid #41F6D7;
        border-radius: 5px; } }
  .service__nav {
    display: flex;
    flex-wrap: nowrap; }
  .service__list {
    display: flex;
    overflow-x: scroll;
    white-space: nowrap; }
    .service__list::-webkit-scrollbar {
      display: none; }
    @media (min-width: 1090px) {
      .service__list {
        flex-wrap: wrap; } }
    @media (min-width: 1440px) {
      .service__list {
        flex-wrap: wrap;
        padding-bottom: 10px; } }
  .service__list-item {
    padding: 5px 19px 7px 15px;
    line-height: 24px;
    letter-spacing: -0.2px;
    border: 2px solid #F8F8F8;
    border-radius: 6px;
    cursor: pointer; }
    .service__list-item:last-child {
      margin-right: 50%; }
    @media (min-width: 768px) {
      .service__list-item {
        padding: 8px 19px 8px 16px;
        line-height: 20px; } }
    @media (min-width: 1440px) {
      .service__list-item {
        color: #7E7E82;
        line-height: 24px;
        font-weight: 600; } }
    .service__list-item:hover {
      background-color: #EAEAEA; }
    .service__list-item:active {
      background-color: #fff; }
    .service__list-item-active {
      background-color: #fff;
      border: 2px solid #B8FFEC;
      border-radius: 6px; }

.about {
  display: grid;
  grid-row-gap: 16px; }
  @media (min-width: 768px) {
    .about {
      display: flex;
      min-height: 207px;
      justify-content: space-between; } }
  @media (min-width: 1440px) {
    .about {
      padding-right: 40px; } }
  .about__description {
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
    overflow: hidden;
    max-height: 90px;
    padding: 0 16px; }
    @media (min-width: 768px) {
      .about__description {
        max-height: 162px;
        padding-left: 24px;
        line-height: 20px; } }
    @media (min-width: 1440px) {
      .about__description {
        padding-top: 10px;
        max-height: 175px; } }
  .about__spoiler-wrapper {
    position: relative; }
    @media (min-width: 768px) {
      .about__spoiler-wrapper {
        width: 46%;
        min-height: 200px;
        justify-content: flex-end; } }
    @media (min-width: 1440px) {
      .about__spoiler-wrapper {
        width: 50%; } }
  .about__spoiler {
    margin-left: 30px !important;
    padding-top: 20px; }
    @media (min-width: 768px) {
      .about__spoiler {
        padding-top: 10px;
        margin-left: 40px !important; } }
  .about #about__spoiler-checker {
    display: none; }
  .about #about__spoiler-checker:checked + [for=about__spoiler-checker]::before {
    transform: rotate(225deg);
    bottom: 2px; }
  .about #about__spoiler-checker:checked + [for=about__spoiler-checker]::after {
    transform: rotate(225deg);
    bottom: 7px; }
  .about #about__spoiler-checker:checked + [for=about__spoiler-checker] + .about__description {
    max-height: fit-content; }
  .about__img {
    background-position: center;
    background-image: url(../img/cps.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 176px; }
    @media (min-width: 768px) {
      .about__img {
        background-image: url(../img/cps768.png);
        width: 50%;
        border-radius: 6px; } }
    @media (min-width: 1440px) {
      .about__img {
        background-image: url(../img/cps1440.png);
        height: 307px; } }

.repair {
  background-color: #F8F8F8; }
  .repair__title-brand {
    font-weight: 100;
    font-size: 16px; }
  .repair__title-technic {
    font-weight: 100;
    font-size: 16px; }
  .repair .swiper {
    overflow-y: hidden; }
  .repair .brand-swiper {
    padding-bottom: 16px; }
    @media (min-width: 1440px) {
      .repair .brand-swiper {
        padding-right: 47px; } }
  @media (min-width: 768px) {
    .repair .brand-swiper-wrapper {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-column-gap: 24px;
      grid-row-gap: 16px;
      max-height: 150px; } }
  @media (min-width: 1440px) {
    .repair .brand-swiper-wrapper {
      grid-template-columns: repeat(4, 1fr);
      grid-column-gap: 32px; } }
  .repair .brand-swiper-wrapper .brand-item {
    display: flex;
    justify-content: space-between;
    max-height: 72px;
    padding: 16px;
    border: 1px solid #EAEAEA;
    border-radius: 6px;
    background-color: #fff; }
    .repair .brand-swiper-wrapper .brand-item > img {
      max-width: 63%; }
  .repair__spoiler {
    display: none; }
    @media (min-width: 768px) {
      .repair__spoiler {
        display: block;
        margin-top: 20px;
        margin-bottom: 35px; } }
    @media (min-width: 1440px) {
      .repair__spoiler {
        margin-bottom: 55px; } }
  .repair #repair__spoiler-checker {
    display: none; }
  .repair #repair__spoiler-checker:checked + [for=repair__spoiler-checker]::before {
    transform: rotate(225deg);
    bottom: 2px; }
  .repair #repair__spoiler-checker:checked + [for=repair__spoiler-checker]::after {
    transform: rotate(225deg);
    bottom: 7px; }
  .repair #repair__spoiler-checker:checked + [for=repair__spoiler-checker] + .swiper > .brand-swiper-wrapper {
    max-height: fit-content; }
  @media (min-width: 768px) {
    .repair .technic-swiper {
      padding-bottom: 3px; } }
  @media (min-width: 1440px) {
    .repair .technic-swiper {
      padding-right: 47px; } }
  .repair .technic-swiper-wrapper + .swiper-pagination {
    padding-top: 12px; }
  @media (min-width: 768px) {
    .repair .technic-swiper-wrapper {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-column-gap: 24px;
      grid-row-gap: 16px;
      max-height: 165px; } }
  @media (min-width: 1440px) {
    .repair .technic-swiper-wrapper {
      grid-template-columns: repeat(4, 1fr);
      grid-column-gap: 32px; } }
  .repair .technic-swiper-wrapper .technic-item {
    display: flex;
    justify-content: space-between;
    min-height: 160px;
    padding: 16px;
    border: 1px solid #EAEAEA;
    border-radius: 6px;
    background-color: #fff; }
    .repair .technic-swiper-wrapper .technic-item > p {
      font-weight: 600;
      max-width: 77%; }
    .repair .technic-swiper-wrapper .technic-item > .circle {
      align-self: end; }
  .repair .technic__spoiler {
    display: none; }
    @media (min-width: 768px) {
      .repair .technic__spoiler {
        display: block;
        margin-top: 18px; } }
  .repair #technic__spoiler-checker {
    display: none; }
  .repair #technic__spoiler-checker:checked + [for=technic__spoiler-checker]::before {
    transform: rotate(225deg);
    bottom: 2px; }
  .repair #technic__spoiler-checker:checked + [for=technic__spoiler-checker]::after {
    transform: rotate(225deg);
    bottom: 7px; }
  .repair #technic__spoiler-checker:checked + [for=technic__spoiler-checker] + .swiper > .technic-swiper-wrapper {
    max-height: fit-content; }

@media (min-width: 768px) {
  .price__title.gradient-title {
    padding-top: 21px;
    font-weight: 100;
    font-size: 16px; } }

@media (min-width: 1440px) {
  .price-swiper {
    padding-bottom: 30px; } }

.price > .price-swiper > .price-swiper-wrapper {
  background-color: #fff;
  border-radius: 6px; }

.price > .price-swiper > .price-swiper-wrapper > .price-item {
  display: grid;
  grid-row-gap: 16px;
  grid-template-columns: 2fr;
  padding-top: 16px;
  padding-left: 8px;
  min-height: 202px;
  align-items: end;
  border: 0px solid white;
  border-bottom: 1px solid white;
  font-size: 14px;
  letter-spacing: 0.2px; }
  @media (min-width: 768px) {
    .price > .price-swiper > .price-swiper-wrapper > .price-item {
      display: flex;
      align-items: center;
      min-height: 0px;
      padding-left: 16px;
      cursor: default; }
      .price > .price-swiper > .price-swiper-wrapper > .price-item:hover {
        filter: none; }
      .price > .price-swiper > .price-swiper-wrapper > .price-item:active {
        outline: none; }
      .price > .price-swiper > .price-swiper-wrapper > .price-item:not(:last-child)::after {
        content: '';
        position: absolute;
        width: 96%;
        bottom: 0px;
        left: 2%;
        border-bottom: 1px solid #eaeaea; } }
  @media (min-width: 1440px) {
    .price > .price-swiper > .price-swiper-wrapper > .price-item {
      padding-left: 24px;
      padding-right: 46px; } }
  .price > .price-swiper > .price-swiper-wrapper > .price-item .service-name {
    grid-column: 1/3; }
    @media (min-width: 768px) {
      .price > .price-swiper > .price-swiper-wrapper > .price-item .service-name {
        min-width: 372px; } }
    @media (min-width: 1440px) {
      .price > .price-swiper > .price-swiper-wrapper > .price-item .service-name {
        min-width: 356px; } }
    .price > .price-swiper > .price-swiper-wrapper > .price-item .service-name > p:first-child {
      color: #7E7E82; }
      @media (min-width: 768px) {
        .price > .price-swiper > .price-swiper-wrapper > .price-item .service-name > p:first-child {
          display: none; } }
    .price > .price-swiper > .price-swiper-wrapper > .price-item .service-name > p:nth-child(2) {
      line-height: 18px; }
  .price > .price-swiper > .price-swiper-wrapper > .price-item .service-price {
    grid-column: 1/2; }
    @media (min-width: 768px) {
      .price > .price-swiper > .price-swiper-wrapper > .price-item .service-price {
        min-width: 96px; } }
    @media (min-width: 1440px) {
      .price > .price-swiper > .price-swiper-wrapper > .price-item .service-price {
        min-width: 116px; } }
    .price > .price-swiper > .price-swiper-wrapper > .price-item .service-price > p:first-child {
      color: #7E7E82; }
      @media (min-width: 768px) {
        .price > .price-swiper > .price-swiper-wrapper > .price-item .service-price > p:first-child {
          display: none; } }
  .price > .price-swiper > .price-swiper-wrapper > .price-item .service-period {
    grid-column: 1/2; }
    @media (min-width: 768px) {
      .price > .price-swiper > .price-swiper-wrapper > .price-item .service-period {
        min-width: 101px; } }
    @media (min-width: 1440px) {
      .price > .price-swiper > .price-swiper-wrapper > .price-item .service-period {
        min-width: 71px; } }
    .price > .price-swiper > .price-swiper-wrapper > .price-item .service-period > p:first-child {
      color: #7E7E82; }
      @media (min-width: 768px) {
        .price > .price-swiper > .price-swiper-wrapper > .price-item .service-period > p:first-child {
          display: none; } }
  .price > .price-swiper > .price-swiper-wrapper > .price-item__button {
    grid-column: 2/3; }

.price .price-headers {
  display: none; }
  .price .price-headers > button {
    opacity: 0; }
  @media (min-width: 768px) {
    .price .price-headers {
      display: flex;
      justify-content: space-between;
      width: 100%;
      padding: 16px;
      padding-top: 11px;
      padding-right: 16px;
      color: #7E7E82;
      font-size: 14px;
      line-height: 16px; } }
  @media (min-width: 1440px) {
    .price .price-headers {
      padding-right: 46px; } }
  .price .price-headers > p:first-child {
    min-width: 305px; }
  .price .price-headers > p:nth-child(2) {
    min-width: 30px; }
  @media (min-width: 1440px) {
    .price .price-headers {
      padding-left: 22px; }
      .price .price-headers > p:first-child {
        min-width: 310px; }
      .price .price-headers > p:nth-child(2) {
        min-width: 72px; } }

.price__description {
  padding: 16px;
  padding-top: 12px;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px; }
  @media (min-width: 768px) {
    .price__description {
      padding: 0 24px;
      width: 62%; } }
  @media (min-width: 1440px) {
    .price__description {
      width: 42%; } }

.price__offer {
  display: flex;
  flex-wrap: wrap;
  padding: 0 16px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  cursor: pointer; }
  @media (min-width: 768px) {
    .price__offer {
      padding: 16px 24px; } }
  .price__offer > a > span {
    position: relative; }
  .price__offer > a > span::after {
    content: '';
    position: absolute;
    transform: rotate(-45deg);
    width: 6px;
    height: 6px;
    bottom: 6px;
    right: -15px;
    border-right: 2px solid #FF3E79;
    border-bottom: 2px solid #FF3E79; }

.footer {
  display: grid;
  grid-row-gap: 16px;
  grid-template-columns: 2fr;
  padding: 40px 0;
  font-size: 14px;
  line-height: 16px;
  border-top: solid 1px #D9FFF5;
  color: #7E7E82;
  opacity: 0.72;
  text-align: center; }
  @media (min-width: 768px) {
    .footer {
      display: flex;
      justify-content: space-between;
      padding: 38px 24px; }
      .footer > p:first-child {
        text-align: left;
        width: 100%; }
      .footer > p:nth-child(2) {
        width: 100%; }
      .footer > p:last-child {
        text-align: right;
        width: 100%; } }
  @media (min-width: 1440px) {
    .footer {
      grid-column: 2;
      position: absolute;
      bottom: 0;
      right: 0;
      padding: 31px 21px;
      width: 100%; } }

.swiper {
  padding: 16px 16px 0px 16px;
  overflow-y: hidden;
  width: 100%; }
  @media (min-width: 768px) {
    .swiper {
      padding: 24px; } }
  @media (min-width: 768px) {
    .swiper .swiper-wrapper {
      flex-wrap: wrap; } }
  .swiper .swiper-pagination {
    position: relative;
    padding-top: 16px; }
    @media (min-width: 768px) {
      .swiper .swiper-pagination {
        display: none; } }
  .swiper .swiper-horizontal > .swiper-pagination-bullets, .swiper .swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: 0; }
  .swiper .swiper-slide {
    display: flex;
    justify-content: space-between;
    padding: 16px;
    margin-right: 16px;
    border: 1px solid #EAEAEA;
    border-radius: 6px;
    background-color: #fff;
    cursor: pointer; }
    .swiper .swiper-slide:hover {
      filter: drop-shadow(0 0 2px #ff3e79); }
    .swiper .swiper-slide:active {
      outline: 1px solid #FF3E79; }
  .swiper .swiper-slide > img {
    object-fit: contain; }
  .swiper .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #DDDDDD;
    opacity: 1; }
  .swiper .swiper-pagination-bullet-active {
    background-color: #B5B6BC; }

body {
  font-weight: 100;
  background-color: #F8F8F8; }

.main {
  display: grid;
  grid-template-columns: 100%;
  grid-row-gap: 24px; }
  @media (min-width: 767px) {
    .main {
      grid-row-gap: 32px; } }
  @media (min-width: 1440px) {
    .main {
      grid-column: 2;
      grid-row-gap: 50px;
      padding-bottom: 131px; } }

.container {
  display: grid;
  grid-template-columns: 100%;
  grid-row-gap: 24px;
  position: relative; }
  @media (min-width: 1440px) {
    .container {
      grid-template-columns: 2fr;
      justify-items: start; } }
  .container .modal-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.96);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    z-index: 250;
    opacity: 1;
    overflow: hidden;
    transition: all 0.3s ease-in-out; }
  .container .burger-overlay {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.96);
    width: 100%;
    height: 100%;
    z-index: 100;
    opacity: 1;
    transition: all 0.3s ease-in-out; }
  .container .disabled {
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease-in-out; }

.logo {
  width: 97px;
  height: 51px; }

.circle {
  position: relative;
  width: 40px;
  height: 40px;
  border: 2px solid #FF3E79;
  border-radius: 25px; }
  .circle::before {
    content: '';
    position: absolute;
    transform: rotate(-45deg);
    width: 7px;
    height: 7px;
    bottom: 37%;
    left: 36%;
    border-right: 2px solid #FF3E79;
    border-bottom: 2px solid #FF3E79; }

.icon {
  background-size: contain;
  width: 40px;
  min-height: 40px;
  margin: 8px;
  background-color: #FF3E79;
  border-radius: 25px;
  cursor: pointer; }
  .icon:hover {
    filter: drop-shadow(0 0 2px #ff3e79); }
  .icon:active {
    filter: contrast(120%); }

.button {
  position: relative;
  background-color: #FF3E79;
  color: #fff;
  border: none;
  border-radius: 25px;
  font-family: TTLakesDemiBold;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  padding: 4px 40px 4px 12px;
  cursor: pointer; }
  .button__inner::after {
    content: '';
    position: absolute;
    transform: rotate(-45deg);
    width: 6px;
    height: 6px;
    bottom: 37%;
    right: 17px;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff; }
  .button:hover {
    filter: drop-shadow(0 0 2px #ff3e79); }
  .button:active {
    filter: contrast(120%); }
  .button:focus-visible {
    border: 2px solid #FF3E79; }

.block-title {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px; }

.gradient-title {
  padding: 16px;
  border-top: solid 1px #D9FFF5;
  background: linear-gradient(90deg, #F8F8F8 0%, #FFFFFF 98.61%);
  color: #7E7E82;
  text-transform: uppercase; }
  @media (min-width: 768px) {
    .gradient-title {
      padding-left: 24px; } }

.spoiler-wrapper {
  display: flex;
  flex-direction: column-reverse; }

.spoiler {
  position: relative;
  margin-left: 40px;
  font-weight: 600;
  cursor: pointer; }
  .spoiler > span {
    margin-left: 16px; }
  .spoiler::before {
    content: '';
    left: -5px;
    bottom: 5px;
    position: absolute;
    transform: rotate(45deg);
    width: 5px;
    height: 5px;
    border-right: 1px solid #41F6D7;
    border-bottom: 1px solid #41F6D7; }
  .spoiler::after {
    content: '';
    left: -5px;
    bottom: 10px;
    position: absolute;
    transform: rotate(45deg);
    width: 5px;
    height: 5px;
    border-right: 1px solid #41F6D7;
    border-bottom: 1px solid #41F6D7; }
  .spoiler:hover {
    filter: drop-shadow(0 0 2px #3effcf); }
  .spoiler:active {
    filter: contrast(120%); }

.modal {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 320px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 24px 16px;
  background-color: #fff;
  box-shadow: 16px 0px 52px rgba(14, 24, 80, 0.2);
  z-index: 350;
  transition: all 0.3s ease-in-out; }
  @media (min-width: 1440px) {
    .modal {
      right: 0;
      left: unset;
      max-width: 440px;
      padding: 40px 32px; } }
  .modal__title {
    position: relative;
    font-size: 1.5em;
    font-family: TTLakesBold;
    padding-bottom: 24px;
    line-height: 32px;
    letter-spacing: -0.6px; }
    .modal__title::before {
      content: '';
      position: absolute;
      top: -8px;
      left: -16px;
      height: 39px;
      border-left: 3px solid #41F6D7;
      border-radius: 5px; }
    @media (min-width: 1440px) {
      .modal__title::before {
        content: '';
        position: absolute;
        top: -8px;
        left: -33px;
        height: 39px;
        border-left: 3px solid #41F6D7;
        border-radius: 5px; } }
  .modal__input {
    width: 100%;
    height: 48px;
    border-radius: 8px;
    border: 1px solid #eaeaea;
    padding: 12px 16px;
    margin-bottom: 16px; }
  .modal__textarea {
    min-height: 118px; }
  .modal__agreement {
    font-size: 14px;
    line-height: 16px;
    color: #7E7E82;
    margin-bottom: 18px; }
    @media (min-width: 1440px) {
      .modal__agreement {
        margin-bottom: 16px; } }
    .modal__agreement > a {
      color: #FF3E79; }
  .modal__submit-button {
    width: 47%;
    align-self: end; }
    .modal__submit-button::after {
      content: '';
      position: absolute;
      transform: rotate(-45deg);
      width: 6px;
      height: 6px;
      bottom: 12px;
      right: 20px;
      border-right: 2px solid #fff;
      border-bottom: 2px solid #fff; }
    @media (min-width: 1440px) {
      .modal__submit-button {
        width: 36%; } }
  .modal .close-button {
    position: relative;
    margin: 0;
    margin-bottom: 40px; }
    @media (min-width: 1440px) {
      .modal .close-button {
        position: absolute;
        top: 32px;
        left: -73px; } }
    .modal .close-button::before {
      content: '';
      position: absolute;
      border-bottom: 2px solid #fff;
      top: 19px;
      left: 9px;
      width: 22px;
      transform: rotate(45deg); }
    .modal .close-button::after {
      content: '';
      position: absolute;
      top: 19px;
      left: 9px;
      width: 22px;
      border-bottom: 2px solid #fff;
      transition: all 0.3s ease-in-out;
      transform: rotate(-45deg); }

.modal__closed {
  left: -150%;
  transition: all 0.3s ease-in-out; }


/*# sourceMappingURL=main.css.map*/